<div>
    <style>
        .red {
            background-color: #FF0000 !important;
        }

        .yellow {
            background-color: #FFFF00 !important;
        }

        @media only screen and (max-width: 767px) {
            .image-dimensions{
                height: 75px;
                width: 75px;
            }
        }

        @media only screen and (min-width: 768px) and (max-width: 991px) {
            .image-dimensions{
                height: 145px;
                width: 145px;
            }
        }

        @media only screen and (min-width: 992px) and (max-width: 1199px) {
            .image-dimensions{
                height: 90px;
                width: 90px;
            }
        }

        @media only screen and (min-width: 1200px) {
            .image-dimensions{
                height: 120px;
                width: 120px;
            }
        }
    </style>
    <!--Copyright 2014-2015 Alex Benfaremo, Alessandro Chelli, Lorenzo Di Berardino, Matteo Di Sabatino-->

    <!---------------------------------- LICENSE --------------------------------
    -                                                                           -
    - This file is part of ApioOS.                                              -
    -                                                                           -
    - ApioOS is free software released under the GPLv2 license: you can         -
    - redistribute it and/or modify it under the terms of the GNU General       -
    - Public License version 2 as published by the Free Software Foundation.    -
    -                                                                           -
    - ApioOS is distributed in the hope that it will be useful, but             -
    - WITHOUT ANY WARRANTY; without even the implied warranty of                -
    - MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the              -
    - GNU General Public License version 2 for more details.                    -
    -                                                                           -
    - To read the license either open the file COPYING.txt or                   -
    - visit <http://www.gnu.org/licenses/gpl2.txt>                              -
    -                                                                           -
    ---------------------------------------------------------------------------->

    <div id="ApioIconsContainer" class="row">
        <!--<div class="col-xs-4 col-sm-3 col-md-2" ng-repeat="obj in objects" ng-click="goToApplication(obj.objectId)" style="text-align: center;">-->
        <div class="col-xs-4 col-sm-3 col-md-2" ng-repeat="obj in objects" ng-click="launchApplicationSimple(obj.objectId)" style="text-align: center;">
            <div style="display: inline-block;">
                <div class="home">
                    <div class="image-dimensions" ng-class="{'red' : obj.status === '0', 'yellow' : obj.status === '2'}" style="border: 1px solid #CCC; border-radius: 145px; background-color: #0CCD33; background-size: 100%; background-position: 50%; background-image: url(applications/{{obj.objectId}}/icon.png); cursor: pointer;"></div>
                </div>
                <div style="cursor: pointer; margin-top: 8px; width: 100%; height:40px;">
                    <div class="homeAppIconName">{{obj.name}}</div>
                </div>
            </div>
        </div>
    </div>
</div>